<nav class="navbar">
    <div class="navbar-brand">
      <a href="home">MyApp</a>
    </div>
    <ul class="navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <form class="search-form" action="home"method="GET">
      <input type="text" placeholder="Buscar usuarios..." name="search" required>
      <button type="submit">Buscar</button>
    </form>
  </nav>
  
  <!-- Main Content -->
  <div class="container">
    <div class="card">
      <img src="assets/MercedesF1.png" alt="Card Image 1">
      <h3>Card Title 1</h3>
      <p>This is a description for the first card.</p>
    </div>
    <div class="card">
      <img src="assets/CorvetteC7.png" alt="Card Image 2">
      <h3>Card Title 2</h3>
      <p>This is a description for the second card.</p>
    </div>
    <div class="card">
      <img src="assets/SupraMk5.jpg" alt="Card Image 3">
      <h3>Card Title 3</h3>
      <p>This is a description for the third card.</p>
    </div>
  </div>
  